<div class="container mt-4">
  <div class="row">
    <div class="col-6">
      <ul *ngFor="let student of students">
        <li>{{ student.firstName }}</li>
        <li>{{ student.lastName }}</li>
        <li>{{ student.rollNo }}</li>
      </ul>
    </div>
    <div class="col-6">
      <button class="btn btn-primary mb-2" (click)="onAddStudent()">Add two new student</button>
      <br>
      <button class="btn btn-primary mb-2" (click)="onChangeFirstName()">Change first_name of all student</button>
      <br>
      <button class="btn btn-primary" (click)="onChangeInstance()">Change Instance</button>
    </div>
  </div>
</div>